
$grey: #e5e5e5;
$black: #151515;
$gold: #d6af76;
$bg: #0e0e0e;
$lite-black: #171717;
$green: #69CE6D;

$xl: 1200;
$lg: 990;
$md: 720;
$sm: 540;
$s: 400;

$DmSans: 'DMSans', sans-serif;
$Circe: 'Circe', sans-serif;

$fw700: 700;
$fw500: 500;
$fw400: 400;
// $fw300: 300;



