<section class="home-page">
    <h1 class="visually-hidden">
        Строительная компания CК инфраструктура
    </h1>
    <div class="home-page__slider">
        <div class="home-page__slide" style="background-image: url(images/home-page-bg.jpg);">
            <div class="container">
                <div class="home-page__wrapper">
                    <div class="home-page__inner">
                        <ul class="home-page__list">
                            <li class="home-page__item home-page__item--water">Монтаж сетей водоснабжения</li>
                            <li class="home-page__item home-page__item--sewerage ">Водоотведение и канализация </li>
                            <li class="home-page__item home-page__item--network">Наружные тепловые сети и тепловые пункты</li>
                            <li class="home-page__item home-page__item--ssc">Монтаж Ж/Б конструкций</li>
                            <li class="home-page__item home-page__item--territory">Благоустройство территории</li>
                        </ul>
                        <div class="home-page__subtitle">Полный комплекс работ:</div>
                        <ul class="home-page__items">
                            <li class="home-page__row">проектирование</li>
                            <li class="home-page__row">согласование</li>
                            <li class="home-page__row">строительно-монтажные работы</li>
                            <li class="home-page__row">пусконаладочные работы</li>
                            <li class="home-page__row">сервисное обслуживание</li>
                        </ul>
                    </div>
                    <div class="home-page__logo-bg wow animate__bounceInUp" data-wow-duration="2s" data-wow-delay="1s" style="background-image: url(images/logo-big.svg);" aria-label="Картинка логотип нашей компании"></div>
                </div>
            </div>
        </div>
        <div class="home-page__slide" style="background-image: url(images/home-page-bg.jpg);">
            <div class="container">
                <div class="home-page__wrapper">
                    <div class="home-page__inner">
                        <ul class="home-page__list">
                            <li class="home-page__item home-page__item--water">Монтаж сетей водоснабжения</li>
                            <li class="home-page__item home-page__item--sewerage ">Водоотведение и канализация </li>
                            <li class="home-page__item home-page__item--network">Наружные тепловые сети и тепловые пункты</li>
                            <li class="home-page__item home-page__item--ssc">Монтаж Ж/Б конструкций</li>
                            <li class="home-page__item home-page__item--territory">Благоустройство территории</li>
                        </ul>
                        <div class="home-page__subtitle">Полный комплекс работ:</div>
                        <ul class="home-page__items">
                            <li class="home-page__row">проектирование</li>
                            <li class="home-page__row">согласование</li>
                            <li class="home-page__row">строительно-монтажные работы</li>
                            <li class="home-page__row">пусконаладочные работы</li>
                            <li class="home-page__row">сервисное обслуживание</li>
                        </ul>
                    </div>
                    <div class="home-page__logo-bg wow animate__bounceInUp" data-wow-duration="2s" data-wow-delay="1s" style="background-image: url(images/logo-big.svg);" aria-label="Картинка логотип нашей компании"></div>
                </div>
            </div>
        </div>
        <div class="home-page__slide" style="background-image: url(images/home-page-bg.jpg);">
            <div class="container">
                <div class="home-page__wrapper">
                    <div class="home-page__inner">
                        <ul class="home-page__list">
                            <li class="home-page__item home-page__item--water">Монтаж сетей водоснабжения</li>
                            <li class="home-page__item home-page__item--sewerage ">Водоотведение и канализация </li>
                            <li class="home-page__item home-page__item--network">Наружные тепловые сети и тепловые пункты</li>
                            <li class="home-page__item home-page__item--ssc">Монтаж Ж/Б конструкций</li>
                            <li class="home-page__item home-page__item--territory">Благоустройство территории</li>
                        </ul>
                        <div class="home-page__subtitle">Полный комплекс работ:</div>
                        <ul class="home-page__items">
                            <li class="home-page__row">проектирование</li>
                            <li class="home-page__row">согласование</li>
                            <li class="home-page__row">строительно-монтажные работы</li>
                            <li class="home-page__row">пусконаладочные работы</li>
                            <li class="home-page__row">сервисное обслуживание</li>
                        </ul>
                    </div>
                    <div class="home-page__logo-bg wow animate__bounceInUp" data-wow-duration="2s" data-wow-delay="1s" style="background-image: url(images/logo-big.svg);" aria-label="Картинка логотип нашей компании"></div>
                </div>
            </div>
        </div>
        <div class="home-page__slide" style="background-image: url(images/home-page-bg.jpg);">
            <div class="container">
                <div class="home-page__wrapper">
                    <div class="home-page__inner">
                        <ul class="home-page__list">
                            <li class="home-page__item home-page__item--water">Монтаж сетей водоснабжения</li>
                            <li class="home-page__item home-page__item--sewerage ">Водоотведение и канализация </li>
                            <li class="home-page__item home-page__item--network">Наружные тепловые сети и тепловые пункты</li>
                            <li class="home-page__item home-page__item--ssc">Монтаж Ж/Б конструкций</li>
                            <li class="home-page__item home-page__item--territory">Благоустройство территории</li>
                        </ul>
                        <div class="home-page__subtitle">Полный комплекс работ:</div>
                        <ul class="home-page__items">
                            <li class="home-page__row">проектирование</li>
                            <li class="home-page__row">согласование</li>
                            <li class="home-page__row">строительно-монтажные работы</li>
                            <li class="home-page__row">пусконаладочные работы</li>
                            <li class="home-page__row">сервисное обслуживание</li>
                        </ul>
                    </div>
                    <div class="home-page__logo-bg wow animate__bounceInUp" data-wow-duration="2s" data-wow-delay="1s" style="background-image: url(images/logo-big.svg);" aria-label="Картинка логотип нашей компании"></div>
                </div>
            </div>
        </div>
    </div>
</section>