<section class="projects" id="projects">
    <div class="container">
        <h2 class="title projects__title  wow animate__fadeInLeft" data-wow-duration="2s"  data-wow-offset="40">Проекты</h2>
        <ul class="projects__list">
            <li class="projects__item">
                <a class="projects__link" data-fancybox href="#modal-project-1">
                    <img class="projects__images" src="images/projects-1.jpg" alt="Картинка ремонтных работ">
                    <div class="projects__holder">
                        <div class="projects__photo">
                            <img class="projects__images-logo" src="images/projects-logo-1.png" alt="Картинка логотип компании">
                        </div>
                        <div class="projects__info">
                            <span class="projects__name"> Работы по монтажу прифундаментного дренажа</span>
                            <br class="projects__address">
                                по адресу: </br> ЛО, Всеволожский р-н, «Ручьи»
                            </address>
                        </div>
                    </div>
                    <div class="projects__status projects__status--gold" aria-label="Состояние проекта. Проект не закончен"></div>
                </a>
            </li>
            <li class="projects__item">
                <a class="projects__link" data-fancybox href="#modal-project-2">
                    <img class="projects__images" src="images/projects-2.jpg" alt="Картинка ремонтных работ">
                    <div class="projects__holder">
                        <div class="projects__photo">
                            <img class="projects__images-logo" src="images/projects-logo-2.png" alt="Картинка логотип компании">
                        </div>
                        <div class="projects__info">
                            <span class="projects__name"> Работы по монтажу прифундаментного дренажа</span>
                            <br class="projects__address">
                                по адресу: </br> ЛО, Всеволожский р-н, «Ручьи»
                            </address>
                        </div>
                    </div>
                    <div class="projects__status projects__status--green" aria-label="Состояние проекта. Проект закончен">Завершен</div>
                </a>
            </li>
            <li class="projects__item">
                <a class="projects__link" data-fancybox href="#modal-project-3">
                    <img class="projects__images" src="images/projects-3.jpg" alt="Картинка ремонтных работ">
                    <div class="projects__holder">
                        <div class="projects__photo">
                            <img class="projects__images-logo" src="images/projects-logo-3.svg" alt="Картинка логотип компании">
                        </div>
                        <div class="projects__info">
                            <span class="projects__name"> Работы по монтажу прифундаментного дренажа</span>
                            <br class="projects__address">
                                по адресу: </br> ЛО, Всеволожский р-н, «Ручьи»
                            </address>
                        </div>
                    </div>
                    <div class="projects__status projects__status--gold" aria-label="Состояние проекта. Проект не закончен"></div>
                </a>
            </li>
            <li class="projects__item">
                <a class="projects__link" data-fancybox href="#modal-project-4">
                    <img class="projects__images" src="images/projects-4.jpg" alt="Картинка ремонтных работ">
                    <div class="projects__holder">
                        <div class="projects__photo">
                            <img class="projects__images-logo" src="images/projects-logo-2.png" alt="Картинка логотип компании">
                        </div>
                        <div class="projects__info">
                            <span class="projects__name"> Работы по монтажу прифундаментного дренажа</span>
                            <br class="projects__address">
                                по адресу: </br> ЛО, Всеволожский р-н, «Ручьи»
                            </address>
                        </div>
                    </div>
                    <div class="projects__status projects__status--green" aria-label="Состояние проекта. Проект закончен">Завершен</div>
                </a>
            </li>
            <li class="projects__item">
                <a class="projects__link" data-fancybox href="#modal-project-5">
                    <img class="projects__images" src="images/projects-1.jpg" alt="Картинка ремонтных работ">
                    <div class="projects__holder">
                        <div class="projects__photo">
                            <img class="projects__images-logo" src="images/projects-logo-1.png" alt="Картинка логотип компании">
                        </div>
                        <div class="projects__info">
                            <span class="projects__name"> Работы по монтажу прифундаментного дренажа</span>
                            <br class="projects__address">
                                по адресу: </br> ЛО, Всеволожский р-н, «Ручьи»
                            </address>
                        </div>
                    </div>
                    <div class="projects__status projects__status--gold" aria-label="Состояние проекта. Проект не закончен"></div>
                </a>
            </li>
            <li class="projects__item">
                <a class="projects__link" data-fancybox href="#modal-project-6">
                    <img class="projects__images" src="images/projects-6.jpg" alt="Картинка ремонтных работ">
                    <div class="projects__holder">
                        <div class="projects__photo">
                            <img class="projects__images-logo" src="images/projects-logo-3.svg" alt="Картинка логотип компании">
                        </div>
                        <div class="projects__info">
                            <span class="projects__name"> Работы по монтажу прифундаментного дренажа</span>
                            <br class="projects__address">
                                по адресу: </br> ЛО, Всеволожский р-н, «Ручьи»
                            </address>
                        </div>
                    </div>
                    <div class="projects__status projects__status--gold" aria-label="Состояние проекта. Проект не закончен"></div>
                </a>
            </li>
            <li class="projects__item">
                <a class="projects__link" data-fancybox href="#modal-project-7">
                    <img class="projects__images" src="images/projects-1.jpg" alt="Картинка ремонтных работ">
                    <div class="projects__holder">
                        <div class="projects__photo">
                            <img class="projects__images-logo" src="images/projects-logo-1.png" alt="Картинка логотип компании">
                        </div>
                        <div class="projects__info">
                            <span class="projects__name"> Работы по монтажу прифундаментного дренажа</span>
                            <br class="projects__address">
                                по адресу: </br> ЛО, Всеволожский р-н, «Ручьи»
                            </address>
                        </div>
                    </div>
                    <div class="projects__status projects__status--gold" aria-label="Состояние проекта. Проект не закончен"></div>
                </a>
            </li>
            <li class="projects__item">
                <a class="projects__link" data-fancybox href="#modal-project-8">
                    <img class="projects__images" src="images/projects-2.jpg" alt="Картинка ремонтных работ">
                    <div class="projects__holder">
                        <div class="projects__photo">
                            <img class="projects__images-logo" src="images/projects-logo-2.png" alt="Картинка логотип компании">
                        </div>
                        <div class="projects__info">
                            <span class="projects__name"> Работы по монтажу прифундаментного дренажа</span>
                            <br class="projects__address">
                                по адресу: </br> ЛО, Всеволожский р-н, «Ручьи»
                            </address>
                        </div>
                    </div>
                    <div class="projects__status projects__status--green" aria-label="Состояние проекта. Проект закончен">Завершен</div>
                </a>
            </li>
            <li class="projects__item">
                <a class="projects__link" data-fancybox href="#modal-project-9">
                    <img class="projects__images" src="images/projects-3.jpg" alt="Картинка ремонтных работ">
                    <div class="projects__holder">
                        <div class="projects__photo">
                            <img class="projects__images-logo" src="images/projects-logo-3.svg" alt="Картинка логотип компании">
                        </div>
                        <div class="projects__info">
                            <span class="projects__name"> Работы по монтажу прифундаментного дренажа</span>
                            <br class="projects__address">
                                по адресу: </br> ЛО, Всеволожский р-н, «Ручьи»
                            </address>
                        </div>
                    </div>
                    <div class="projects__status projects__status--green" aria-label="Состояние проекта. Проект закончен">Завершен</div>
                </a>
            </li>
        </ul>
    </div>
</section>