.contacts {
    position: relative;
    padding: 80px 0;
    background-color: #232323;
    &__title {
        margin-bottom: 75px;
    }
    &__list {
        margin-bottom: 80px;
    }
    &__item {
        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }
    &__link {
        font-weight: $fw500;
        font-size: 20px;
        position: relative;
        padding-left: 30px;
        display: inline-block;
        outline: transparent;
        transition: color .3s ease-in;
        &::after {
            position: absolute;
            content: '';
            @include bg;
            left: 0;
            top: 8px;
        }
        &--tel {
            text-transform: uppercase;
            font-size: 26px;
            &::after {
                width: 13px;
                height: 13px;
                background-image: url(../images/icons/tel-gold.svg);
            }
        }
        &--email {
            &::after {
                width: 14px;
                height: 11px;
                background-image: url(../images/icons/message.svg);
            }
        }
        &--map {
            max-width: 510px;
            width: 100%;
            @include lineClamp;
            -webkit-line-clamp: 2;
            &::after {
                width: 10px;
                height: 14px;
                background-image: url(../images/icons/map.svg);
            }
        }
        &:hover {
            color: $gold;
        }
        &:focus {
            color: rgb(155, 151, 151);
        }
        &:active {
            color: rgb(128, 64, 64);
        }
    }
    &__subtitle {
        font-size: 30px;
        margin-bottom: 10px;
        font-weight: $fw500;
    }
    &__text {
        margin-bottom: 45px;
        P {
            @include lineClamp;
            -webkit-line-clamp: 2;
        }
    }
    & #map {
        position: absolute;
        max-width: 820px;
        width: 100%;
        right: 0;
        bottom: 0;
        top: 0;
    }
}

