.home-page {
    &__slide {
        height: 100vh;
        @include bg;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100vh;
    }
    &__inner {
        max-width: 755px;
        width: 100%;
        @include max($lg) {
            margin: auto 0 10px 0;
        }
        @include max($lgg) {
            margin: auto;
        }
        @include max($smm) {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 100%;
        }
        @include max($sm) {
            justify-content: center;
        }
    }
    &__logo-bg {
        width: 394px;
        height: 518px;
        @include bg;
        @include max($xl) {
            display: none;
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
        @include max($lg) {
            margin-bottom: 10px;
        }
    }
    &__item {
        position: relative;
        display: block;
        padding-left: 86px;
        max-width: 230px;
        margin-bottom: 40px;
        margin-right: 20px;
        @include lineClamp;
        -webkit-line-clamp: 3;
        &--water {
            &::after {
                width: 63px;
                height: 54px;
                background-image: url(../images/icons/water.svg);
            }
        }
        &--sewerage {
            &::after {
                width: 52px;
                height: 58px;
                background-image: url(../images/icons/sewerage.svg);
            }
        }
        &--network {
            &::after {
                width: 50px;
                height: 59px;
                background-image: url(../images/icons/network.svg);
            }
        }
        &--ssc {
            &::after {
                width: 70px;
                height: 70px;
                background-image: url(../images/icons/ssc.svg);
            }
        }
        &--territory {
            &::after {
                width: 54px;
                height: 55px;
                background-image: url(../images/icons/territory.svg);
            }
        }
        &::after {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            content: '';
            @include bg;
            @include max($lg) {
                width: 50px;
                height: 50px;
                background-size: contain;
            }
            @include max($smm) {
                width: 30px;
                height: 30px;
                top: 17px;
            }
        }
        @include max($lg) {
            margin: 0 10px 5px 0;
            padding-left: 60px;
        }
        @include max($lgg) {
            max-width: 245px;
            margin: 0 20px 45px 0;
        }
        @include max($mdd) {
            margin: 0 10px 0 0;
            max-width: 190px;
        }
        @include max($smm) {
            padding-left: 40px;
            max-width: 168px;
        }
        @include max($sm) {
            margin-bottom: 15px;
        }
        @include max($min) {
            margin-bottom: 3px;
        }
    }
    &__subtitle {
        font-size: 24px;
        line-height: 1.1;
        font-weight: $fw700;
        margin-bottom: 23px;
        @include max($lg) {
            margin-bottom: 0;
        }
        @include max($lgg) {
            margin-bottom: 30px;
        }
        @include max($mdd) {
            margin-bottom: 0;
        }
        @include max($smm) {
            font-size: 18px;
        }
        @include max($sm) {
            margin-bottom: 15px;
        }
        @include max($min) {
            margin-bottom: 5px;
        }
    }
    &__row {
        &:not(:last-child) {
            margin-bottom: 10px;
            @include max($lg) {
                margin-bottom: 0;
            }
            @include max($lgg) {
                margin-bottom: 20px;
            }
            @include max($mdd) {
                margin-bottom: 0;
            }
            @include max($sm) {
                margin-bottom: 8px;
            }
            @include max($min) {
                margin-bottom: 6px;
            }
        }
        font-size: 19px;
        position: relative;
        padding-left: 20px;
        &::after {
            position: absolute;
            content: '-';
            left: 0;
        }
        @include max($lg) {
            font-size: 16px;
        }
    }
    & .slick-dots {
        position: absolute;
        right: 100px;
        z-index: 9;
        top: 50%;
        transform: translateY(-50%);
        li {
            &:not(:last-child) {
                margin-bottom: 20px;
                @include max($lg) {
                    margin-bottom: 0;
                    margin-right: 10px;
                }
            }
            button {
                cursor: pointer;
                width: 10px;
                height: 10px;
                font-size: 0;
                padding: 0;
                border: none;
                outline: transparent;
                background-color: #fff;
                transition: background-color 0.3s ease-in;
                &:hover {
                    background-color: rgba(#fff, 0.6);
                }
                &:focus {
                    background-color: #ccc;
                }
                &:active {
                    background-color: $gold;
                }
            }    
            &.slick-active button{
                background-color: $gold;
            }
        }
        @include max($lg) {
            display: flex;
            top: auto;
            right: 20px;
            bottom: 10px;
        }
    } 
}