.principles {
    background-color: $lite-black;
    padding: 170px 0 60px;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include max($lg) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__content {
        max-width: 600px;
        width: 100%;
        @include max($lg) {
            margin-bottom: 35px;
        }
    }
    &__title {
        margin-bottom: 80px;
        @include max($lg) {
            margin-bottom: 15px;
        }
    }
    &__list {
        margin-bottom: 40px;
        @include max($lg) {
            margin-bottom: 15px;
        }
    }
    
    &__item--quality {
        &::after {
            width: 53px;
            height: 70px;
            background-image: url(../images/quality.svg);
        }
    }
    &__item--profi {
        &::after {
            width: 64px;
            height: 57px;
            background-image: url(../images/profi.svg);
        }
    }
    &__item--reliability {
        &::after {
            width: 64px;
            height: 65px;
            background-image: url(../images/reliability.svg);
        }
    }
    &__item {
        position: relative;
        padding-left: 100px;
        &:not(:last-child) {
            margin-bottom: 60px;
            @include max($lg) {
                margin-bottom: 7px;
            }
        }
        &::after {
            position: absolute;
            content: '';
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            @include bg;
            @include max($md) {     
                width: 58px;
                height: 50px;
                background-size: contain;
            }
            @include max($sm) {     
                width: 48px;
                height: 40px;
            }
        }
        @include max($mdd) {
            padding-left: 80px;
        }
        @include max($sm) {
            padding-left: 60px;
        }
    }
    &__subtitle {
        font-size: 23px;
        margin-bottom: 15px;
        font-weight: $fw700;
        font-family: $Circe;
        line-height: 1;
        @include lineClamp;
        -webkit-line-clamp: 2;
        @include max($lg) {
            margin-bottom: 5px;
        }
        @include max($md) {
            font-size: 20px;
        }
    }
    &__row {
        margin-bottom: 4px;
        @include lineClamp;
        -webkit-line-clamp: 2;
        @include max($mdd) {
            margin-bottom: 0;
        }
    }
    @include max($xl) {
        padding: 50px 0;
    }
    @include max($mdd) {
        padding: 23px 0;
    }
}


.principles-slider {
    max-width: 730px;
    width: 100%;
    &__item {
        @include bg;
        display: block;
        height:  795px;
        @include max($xl) {
            height: 600px;
        }
        @include max($lg) {
            height: 450px;
        }
        @include max($mdd) {
            height: 380px;
        }
        @include max($min) {
            height: 330px;
        }
    }
    & .slick-dots {
        position: absolute;
        width: 285px;
        padding: 20px 0 20px 40px;
        display: flex;
        right: 0;
        bottom: 125px;
        z-index: 9;
        background-color: #202020;
        li {
            height: 30px;
            &:not(:last-child) {
                margin-right: 20px;
            }
            button {
                cursor: pointer;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                font-size: 0;
                padding: 0;
                border: none;
                outline: transparent;
                background-color: #fff;
                transition: background-color 0.3s ease-in;
                &:hover {
                    background-color: rgba(#fff, 0.6);
                }
                &:focus {
                    background-color: #ccc;
                }
                &:active {
                    background-color: $gold;
                }
            }    
            &.slick-active button{
                background-color: $gold;
            }
        }
        @include max($xl) {
            padding: 20px 0 20px 20px;
            bottom: 35px;
            max-width: 215px;
        }
        @include max($md) {
            padding: 15px 10px;
            bottom: 0;
        }
    }
    & .slick-arrow {
        padding: 0;
        width: 40px;
        height: 40px;
        background-color: $gold;
        border: 1px solid transparent;
        display: flex;
        position: absolute;
        z-index: 15;
        outline: transparent;
        bottom: 140px;
        cursor: pointer;
        transition: background-color 0.3s, border-color 0.3s;
        &:hover {
            background-color: rgba($gold, 0.7);
        }
        &:focus {
            border-color: #fff;
        }
        &:active {
            background-color: #202020;
        }
        &.slick-disabled {
            background-color: #202020;
            border-color: $gold;
            & .principles-slider__icon {
                fill: $gold;
            }
        }
        @include max($xl) {
            bottom: 49px;
        }
        @include max($md) {
            bottom: 10px;
        }
    }
    &__icon {
        width: 13px;
        height: 13px;
        fill: #fff;
        margin: auto;
    }
    & .slick-prev {
        right: 70px;
        @include max($md) {
            right: 60px;
        }
    }
    & .slick-next {
        right: 20px;
        @include max($md) {
            right: 10px;
        }
    }
    @include max($xl) {
        max-width: 500px;
    }
    @include max($lg) {
        margin: 0 auto;
        max-width: 400px;
    }
    @include max($mdd) {
        max-width: 320px;
    }
    @include max($min) {
        max-width: 280px;
    }
}