.services {
    &__title {
        margin-bottom: 70px;
    }
}

.services-cars {
    padding: 70px 0 80px;
    background-color: #232323;
    &__subtitle {
        margin-bottom: 90px;
        @include max($xl) {
            margin-bottom: 20px;
        }
    }
    &__inner {
        display: flex;
        column-gap: 1.5%;
        @include max($lgg) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    &__column {
        max-width: 467px;
        width: 100%;
        height: 900px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include max($xl) {
            height: 630px;
        }
        @include max($lg) {
            height: 460px;
        }
        @include max($lgg) {
            max-width: 43%;
            margin-bottom: 10px;
        }
        @include max($lg) {
            max-width: 87.5%;
            margin-bottom: 10px;
        }
        @include max($smm) {
            height: 360px;
        }
        @include max($s) {
            max-width: 100%;
        }
        &--last {
            @include max($lgg) {
                max-width: 87.5%;
                height: 625px;
            }
            @include max($smm) {
                height: 560px;
            }
            @include max($s) {
                max-width: 100%;
            }
        }
        &:nth-child(1),
        &:nth-child(2) {
            @include max($lgg) {
                .services-cars__info {
                    right: 5px;
                    top: 5px;
                    left: auto;
                }
            }
        }
        
    }
    &__item {
        position: relative;
        display: flex;
        justify-content: end;
        transition: background-color 0.3s ease-in;
        &--kamaz {
            height: 35%;
        }
        &--loader {
            height: 63%;
        }
        &--backhoe,
        &--kamaz2 {
            height: 49%;
            background-color: #363636;
        }
        &--kamaz3,
        &--rink,
        &--loader2 {
            height: 32%;
            justify-content: flex-end;
        }
        &--loader,
        &--kamaz3 {
            background-color: #313131;
        }
        &--loader2,
        &--kamaz,
        &--rink {
            background-color: #141414;
        }
        &:hover {
            background-color: $gold;
        }
    }
    &__info {
        position: absolute;
        left: 40px;
        top: 40px;
        @include max($xl) {
            left: 10px;
            top: 10px;
        }
        @include max($lg) {
            left: 5px;
            top: 5px;
        }
    }
    &__name {
        display: block;
        font-weight: $fw700;
        font-size: 20px;
        @include max($xl) {
            font-size: 17px;
        }
    }
    &__name,
    &__model {
        @include lineClamp;
        -webkit-line-clamp: 2;
    }
    @include max($lgg) {
        padding: 55px 0 30px;
    }
}

.services-duties {
    padding: 70px 0 30px;
    background-color: #141414;
    &__subtitle {
        margin-bottom: 90px;
        @include max($xl) {
            margin-bottom: 25px;
        }
    }
    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        max-width: 28%;
        width: 100%;
        margin-bottom: 80px;
        position: relative;
        padding-left: 115px;
        font-size: 16px;
        display: flex;
        align-items: center;
        &::after {
            position: absolute;
            content: '';
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            @include bg;
        }
        &--documentation {
            &::after {
                width: 64px;
                height: 64px;
                background-image: url(../images/icons/documentation.svg);
            }
        }
        &--design {
            &::after {
                width: 70px;
                height: 66px;
                background-image: url(../images/icons/design.svg);
            }
        }
        &--harmonization {
            &::after {
                width: 60px;
                height: 60px;
                background-image: url(../images/icons/harmonization.svg);
            }
        }
        &--service {
            &::after {
                width: 60px;
                height: 70px;
                background-image: url(../images/icons/service.svg);
            }
        }
        &--works {
            &::after {
                width: 74px;
                height: 65px;
                background-image: url(../images/icons/works.svg);
            }
        }
        &--mounting {
            &::after {
                width: 70px;
                height: 63px;
                background-image: url(../images/icons/mounting.svg);
            }
        }
        @include max($lg) {
            padding-left: 90px;
            margin-bottom: 45px;
            max-width: 32%;
        }
        @include max($lgg) {
            max-width: 49%;
            margin-bottom: 60px;
        }
        @include max($sm) {
            max-width: 100%;
        }
    }
    &__text {
        @include lineClamp;
        -webkit-line-clamp: 3;
    }
    @include max($xl) {
        padding: 25px 0;
    }
    @include max($lgg) {
        padding: 25px 0 0 0;
    }
}

.services-works {
    background-color: #141414;
    padding: 70px 0 80px;
    &__subtitle {
        margin-bottom: 10px;
    }
    &__text {
        font-weight: $fw700;
        font-size: 20px;
        margin-bottom: 25px;
        p {
            @include lineClamp;
            -webkit-line-clamp: 2;
        }
        @include max($xl) {
            font-size: 16px;
        }
        @include max($lg) {
            p {
                -webkit-line-clamp: 4;
            }
        }
    }
    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 70px;
        margin-right: -15px;
        @include max($xl) {
            justify-content: center;
        }
        @include max($lg) {
            margin-bottom: 20px;
        }
        @include max($sm) {
            margin-right: 0;
        }
    }
    &__item {
        max-width: 32%;
        width: 100%;
        max-height: 468px;
        overflow: hidden;
        margin: 0 15px 15px 0;
        @include max($xl) {
            max-width: 28%;
        }
        @include max($lg) {
            max-width: 31%;
        }
        @include max($mdd) {
            max-width: 47%;
        }
        @include max($sm) {
            max-width: 93%;
            margin-right: 0;
            max-height: 275px;
        }
        &--big {
            max-width: 48.5%;
            max-height: 462px;
            @include max($xl) {
                max-width: 42.6%;
            }
            @include max($lg) {
                max-width: 47.5%;
            }
            @include max($mdd) {
                max-width: 94.5%;
                max-height: 220px;
            }
            @include max($sm) {
                max-width: 92.5%;
            }
        }
        &:hover .services-works__images{
            transform: scale(1.1);
        }
    }
    &__link {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        outline: transparent;
    }
    &__images {
        transition: transform 0.3s ease;
    }
    &__description {
        max-width: 400px;
        width: 100%;
        font-weight: $fw700;
        font-size: 20px;
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include lineClamp;
        -webkit-line-clamp: 3;
        @include max($lg) {
            font-size: 16px;
        }
    }

    &__range-slider {
        background-color: #232323;
        padding: 80px 10px 30px;
        @include max($xl) {
            padding: 30px 10px 30px;
        }
    }
    &__form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;
        @include max($xl) {
            flex-direction: column;
            align-items: center;
        }
        @include max($md) {
            margin-bottom: 9px;
        }
    }
    &__heading {
        font-size: 26px;
        max-width: 245px;
        width: 100%;
        font-weight: $fw700;
        display: block;
        @include lineClamp;
        -webkit-line-clamp: 2;
        @include max($xl) {
            max-width: 100%;
            text-align: center;
            margin-bottom: 35px;
        }
        @include max($sm) {
            font-size: 21px;
            margin-bottom: 30px;
        }
    }
    &__time {
        max-width: 120px;
        width: 100%;
        @include max($xl) {
            max-width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__number {
        display: block;
        font-size: 44px;
        font-weight: $fw700;
        color: $gold;
        line-height: 1;
        @include max($xl) {
            margin-right: 10px;
        }
        @include max($sm) {
            font-size: 34px;
        }
    }
    &__day {
        display: block;
        @include lineClamp;
        -webkit-line-clamp: 1;
    }
    &__timing {
        display: block;
        text-align: center;
        @include lineClamp;
        -webkit-line-clamp: 1;
    }

    & .irs--flat {
        height: 60px;
        max-width: 710px;
        width: 100%;
        @include max($xl) {
            max-width: 90%;
        }
        .irs-line {
            top: 25px;
            height: 4px;
            background-color: #606060;
            border-radius: 0;
        }
        .irs-bar {
            top: 25px;
            height: 4px;
            background-color: $gold;
        }
        .irs-handle {
            top: 17px;
            width: 19px;
            height: 19px;
            background-color: $gold;
            border-radius: 50%;
            cursor: pointer;
        }
        .irs-handle>i:first-child {
            display: none;
        }
        .irs-single {
            color: #000;
            font-size: 16px;
            line-height: 1;
            text-shadow: none;
            padding: 5px 10px;
            background-color: $gold;
            border-radius: 0;
            top: -18px;
            &::before {
                bottom: -10px;
                margin-left: -5px;
                border: 5px solid transparent;
                border-top-color: $gold;
            }
        }
        .irs-min {
            left: -16px;
            &::before {
                background-color: $gold;
            }
        }
        .irs-max {
            right: -20px;
            &::before {
                background-color: #606060;
            }
        }
        .irs-min,
        .irs-max {
            top: 45px;
            padding: 0;
            color: #fff;
            font-size: 16px;
            line-height: 1;
            text-shadow: none;
            background-color: transparent;
            border-radius: 0;
            position: absolute;
            &::before {
                content: '';
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                height: 6px;
                width: 1px;
                top: -10px;
            }
        }
    }
    @include max($xl) {
        padding: 25px 0;
    }
}

.services-principles {
    padding: 150px 0 120px;
    &__holder{
        text-align: center;
    }
    &__subtitle {
        margin-bottom: 50px;
        @include max($lg) {
            margin-bottom: 25px;
        }
    }
    &__list {
        margin-bottom: 70px;
        display: flex;
        justify-content: space-between;
        @include max($lg) {
            margin-bottom: 25px;
        }
        @include max($md) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__item {
        position: relative;
        display: block;
        max-width: 33%;
        width: 100%;
        padding-top: 170px;
        text-align: center;
        &::before,
        &::after {
            position: absolute;
            content: '';
        }
        &::before {
            left: 50%;
            transform: translateX(-50%);
            color: #141414;
            line-height: 1;
            font-size: 173px;
            font-weight: $fw700;
            top: 0;
            @include max($lg) {
                font-size: 120px;
            }
        }
        &::after {
            @include bg;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &--legislation {
            &::before {
                content: '01';
            }
            &::after {
                width: 84px;
                height: 70px;
                background-image: url(../images/legislation.svg);
            }
        }
        &--documentation {
            &::before {
                content: '02';
            }
            &::after {
                width: 78px;
                height: 78px;
                background-image: url(../images/documentation.svg);
            }
        }
        &--order {
            &::before {
                content: '03';
            }
            &::after {
                width: 64px;
                height: 78px;
                background-image: url(../images/order.svg);
            }
        }
        @include max($md) {
            max-width: 100%;
        }
    }
    &__text {
        margin-bottom: 50px;
        font-size: 22px;
        font-weight: $fw700;
        p {
            @include lineClamp;
            -webkit-line-clamp: 1;
            @include max($md) {
                -webkit-line-clamp: 3;
            }
        }
        @include max($lg) {
            margin-bottom: 20px;
        }
        @include max($lgg) {
            margin-bottom: 10px;
            font-size: 19px;
        }
    }
    @include max($xl) {
        padding: 50px 0;
    }
}