<header class="header">
    <div class="container">
        <div class="header__inner">
            <button class="header__btn" type="button" aria-label="Выпадающее меню">
                <span class="header__btn-item"></span>
                <span class="header__btn-item"></span>
                <span class="header__btn-item"></span>

            </button>
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a class="menu__link" href="#">Главная</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Проекты</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Услуги</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Вакансии</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Контакты</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Политика конфиденциальности</a>
                    </li>
                </ul>
            </nav>
            
            <a class="logo header__logo" href="#">
                <img class="logo__images" src="images/logo.png" alt="logo">
            </a>
            <a class="header__link" href="tel:+78124016495">
                <mark class="header__link--gold">+7 (812)</mark>
                401-64-95
            </a>
            <a class="header__callback" href="#">
                <svg class="header__phone">
                    <use xlink:href="images/sprite.svg#tel"></use>
                </svg>
                <span class="visually-hidden">
                    значок телефона, нажав на который вы можете заказать обратный звонок
                </span>
                Обратный звонок
            </a>


        </div>
    </div>
</header>