    <ul class="modal-project" id="modal-project-1">
        <li class="modal-project__item">
            <span class="modal-project__title">Заказчик:</span>
            <p class="modal-project__description">ООО Главстрой СПБ</p>
        </li>
        <li class="modal-project__item">
            <span class="modal-project__title">Адрес объекта:</span>
            <p class="modal-project__description">Район Юнтолово Квартал 1 этап 2 корпуса 1,2,3,4</p>
        </li>
        <li class="modal-project__item">
            <span class="modal-project__title">Наименование работ:</span>
            <p class="modal-project__description">Устройство прифундаментного дренажа</p>
        </li>
        <li class="modal-project__item">
            <span class="modal-project__title">Объем выполненных работ:</span>
            <p class="modal-project__description">582 м.п.</p>
        </li>
    </ul>
    <ul class="modal-project" id="modal-project-2">
        <li class="modal-project__item">
            <span class="modal-project__title">Заказчик:</span>
            <p class="modal-project__description">ООО Главстрой СПБ</p>
        </li>
        <li class="modal-project__item">
            <span class="modal-project__title">Адрес объекта:</span>
            <p class="modal-project__description">Район Юнтолово Квартал 1 этап 2 корпуса 1,2,3,4</p>
        </li>
        <li class="modal-project__item">
            <span class="modal-project__title">Наименование работ:</span>
            <p class="modal-project__description">Устройство прифундаментного дренажа</p>
        </li>
        <li class="modal-project__item">
            <span class="modal-project__title">Объем выполненных работ:</span>
            <p class="modal-project__description">582 м.п.</p>
        </li>
    </ul>
    <ul class="modal-project" id="modal-project-3">
        <li class="modal-project__item">
            <span class="modal-project__title">Заказчик:</span>
            <p class="modal-project__description">ООО Главстрой СПБ</p>
        </li>
        <li class="modal-project__item">
            <span class="modal-project__title">Адрес объекта:</span>
            <p class="modal-project__description">Район Юнтолово Квартал 1 этап 2 корпуса 1,2,3,4</p>
        </li>
        <li class="modal-project__item">
            <span class="modal-project__title">Наименование работ:</span>
            <p class="modal-project__description">Устройство прифундаментного дренажа</p>
        </li>
        <li class="modal-project__item">
            <span class="modal-project__title">Объем выполненных работ:</span>
            <p class="modal-project__description">582 м.п.</p>
        </li>
    </ul>
    <ul class="modal-project" id="modal-project-4">
        <li class="modal-project__item">
            <span class="modal-project__title">Заказчик:</span>
            <p class="modal-project__description">ООО Главстрой СПБ</p>
        </li>
        <li class="modal-project__item">
            <span class="modal-project__title">Адрес объекта:</span>
            <p class="modal-project__description">Район Юнтолово Квартал 1 этап 2 корпуса 1,2,3,4</p>
        </li>
        <li class="modal-project__item">
            <span class="modal-project__title">Наименование работ:</span>
            <p class="modal-project__description">Устройство прифундаментного дренажа</p>
        </li>
        <li class="modal-project__item">
            <span class="modal-project__title">Объем выполненных работ:</span>
            <p class="modal-project__description">582 м.п.</p>
        </li>
    </ul>
    <ul class="modal-project" id="modal-project-5">
        <li class="modal-project__item">
            <span class="modal-project__title">Заказчик:</span>
            <p class="modal-project__description">ООО Главстрой СПБ</p>
        </li>
        <li class="modal-project__item">
            <span class="modal-project__title">Адрес объекта:</span>
            <p class="modal-project__description">Район Юнтолово Квартал 1 этап 2 корпуса 1,2,3,4</p>
        </li>
        <li class="modal-project__item">
            <span class="modal-project__title">Наименование работ:</span>
            <p class="modal-project__description">Устройство прифундаментного дренажа</p>
        </li>
        <li class="modal-project__item">
            <span class="modal-project__title">Объем выполненных работ:</span>
            <p class="modal-project__description">582 м.п.</p>
        </li>
    </ul>
    <ul class="modal-project" id="modal-project-6">
        <li class="modal-project__item">
            <span class="modal-project__title">Заказчик:</span>
            <p class="modal-project__description">ООО Главстрой СПБ</p>
        </li>
        <li class="modal-project__item">
            <span class="modal-project__title">Адрес объекта:</span>
            <p class="modal-project__description">Район Юнтолово Квартал 1 этап 2 корпуса 1,2,3,4</p>
        </li>
        <li class="modal-project__item">
            <span class="modal-project__title">Наименование работ:</span>
            <p class="modal-project__description">Устройство прифундаментного дренажа</p>
        </li>
        <li class="modal-project__item">
            <span class="modal-project__title">Объем выполненных работ:</span>
            <p class="modal-project__description">582 м.п.</p>
        </li>
    </ul>
    <ul class="modal-project" id="modal-project-7">
        <li class="modal-project__item">
            <span class="modal-project__title">Заказчик:</span>
            <p class="modal-project__description">ООО Главстрой СПБ</p>
        </li>
        <li class="modal-project__item">
            <span class="modal-project__title">Адрес объекта:</span>
            <p class="modal-project__description">Район Юнтолово Квартал 1 этап 2 корпуса 1,2,3,4</p>
        </li>
        <li class="modal-project__item">
            <span class="modal-project__title">Наименование работ:</span>
            <p class="modal-project__description">Устройство прифундаментного дренажа</p>
        </li>
        <li class="modal-project__item">
            <span class="modal-project__title">Объем выполненных работ:</span>
            <p class="modal-project__description">582 м.п.</p>
        </li>
    </ul>
    <ul class="modal-project" id="modal-project-8">
        <li class="modal-project__item">
            <span class="modal-project__title">Заказчик:</span>
            <p class="modal-project__description">ООО Главстрой СПБ</p>
        </li>
        <li class="modal-project__item">
            <span class="modal-project__title">Адрес объекта:</span>
            <p class="modal-project__description">Район Юнтолово Квартал 1 этап 2 корпуса 1,2,3,4</p>
        </li>
        <li class="modal-project__item">
            <span class="modal-project__title">Наименование работ:</span>
            <p class="modal-project__description">Устройство прифундаментного дренажа</p>
        </li>
        <li class="modal-project__item">
            <span class="modal-project__title">Объем выполненных работ:</span>
            <p class="modal-project__description">582 м.п.</p>
        </li>
    </ul>
    <ul class="modal-project" id="modal-project-9">
        <li class="modal-project__item">
            <span class="modal-project__title">Заказчик:</span>
            <p class="modal-project__description">ООО Главстрой СПБ</p>
        </li>
        <li class="modal-project__item">
            <span class="modal-project__title">Адрес объекта:</span>
            <p class="modal-project__description">Район Юнтолово Квартал 1 этап 2 корпуса 1,2,3,4</p>
        </li>
        <li class="modal-project__item">
            <span class="modal-project__title">Наименование работ:</span>
            <p class="modal-project__description">Устройство прифундаментного дренажа</p>
        </li>
        <li class="modal-project__item">
            <span class="modal-project__title">Объем выполненных работ:</span>
            <p class="modal-project__description">582 м.п.</p>
        </li>
    </ul>



