<form class="feedback-form modal-form" action="#" id="form">
    <span class="modal-form__title">
        Заказать обратный звонок
    </span>
    <label class="feedback-form__label" for="name" aria-label="Текстовое поле, введите Ваше имя">Представьтесь, пожалуйста*</label>
    <input class="feedback-form__input modal-form__input" name="Имя" type="text" id="name" placeholder="Ваше имя" required>
    <label class="feedback-form__label" for="tel"  aria-label="Текстовое поле, введите Ваш телефон">Ваш телефон</label>
    <input class="feedback-form__input modal-form__input" name="Телефон" type="tel" id="tel" required placeholder="+7 (___) ___-__-__">
    <button class="link feedback-form__btn modal-form__btn" type="submit">Перезвоните мне</button>
    <div class="feedback-form__box feedback-form__box--checkbox modal-form__box--checkbox">
        <label class="feedback-form__label-checkbox modal-form__label-checkbox">
            <input class="feedback-form__checkbox" type="checkbox" name="чекбокс">
            <span class="feedback-form__checked" aria-label="Чекбокс, вы долнжы согласиться с политикой конфиденциальности"></span>
            Я соглашаюсь с 
        </label>
        <a class="feedback-form__link-confidentiality" href="#">
            политикой конфиденциальности
        </a>
    </div>
</form>