<section class="principles">
    <div class="container">
        <div class="principles__inner">
            <div class="principles__content">
                <h2 class="title principles__title">Наши принципы</h2>
                <ul class="principles__list">
                    <li class="principles__item principles__item--quality">
                        <h3 class="principles__subtitle">Качество</h3>
                        <ul class="principles__items">
                            <li class="principles__row">
                                - используем лучшие материалы и комплектующие
                            </li>
                            <li class="principles__row">
                                - обладаем собственным парком техники
                            </li>
                        </ul>
                    </li>
                    <li class="principles__item principles__item--profi">
                        <h3 class="principles__subtitle">Профессионализм, эффективность, развитие</h3>
                        <ul class="principles__items">
                            <li class="principles__row">
                                - Работаем с 2015 года
                            </li>
                            <li class="principles__row">
                                - ТОПовые специалисты
                            </li>
                        </ul>
                    </li>
                    <li class="principles__item principles__item--reliability">
                        <h3 class="principles__subtitle">Предсказуемость и надежность</h3>
                        <ul class="principles__items">
                            <li class="principles__row">
                                - Нацеленность на результат
                            </li>
                            <li class="principles__row">
                                - Партнерские отношения
                            </li>
                        </ul>
                    </li>
                </ul>
                <a class="link principles__link" href="#">Подробнее о компании</a>
            </div>

            <ul class="principles-slider">
                <li class="principles-slider__item" aria-label="Колесные экскаваторы JCB" style="background-image: url(images/principles-slider-bg.png);"></li>
                <li class="principles-slider__item" aria-label="Колесные экскаваторы JCB" style="background-image: url(images/principles-slider-bg.png);"></li>
                <li class="principles-slider__item" aria-label="Колесные экскаваторы JCB" style="background-image: url(images/principles-slider-bg.png);"></li>
            </ul>

        </div>
    </div> 
</section>




