<section class="services" id="services">
    <section class="services-cars">
        <div class="container">
            <h3 class="subtitle services-cars__subtitle">Собственный парк строительной техники:</h3>
            <div class="services-cars__inner">

                <div class="services-cars__column">
                    <a class="services-cars__item services-cars__item--kamaz" href="#">
                        <div class="services-cars__info">
                            <span class="services-cars__name">Илососная  машина</span>
                            <span class="services-cars__model">КАМАЗ 65115 КО-530-01</span>
                        </div>
                        <img class="services-cars__images" src="images/services-cars-1.png" alt="Камаз">
                    </a>
                    <a class="services-cars__item services-cars__item--loader" href="#">
                        <div class="services-cars__info">
                            <span class="services-cars__name">Погрузчик</span>
                        </div>    
                        <img class="services-cars__images" src="images/services-cars-2.png" alt="Погрузчик">
                    </a>
                </div>

                <div class="services-cars__column">
                    <a class="services-cars__item services-cars__item--kamaz2" href="#">
                        <div class="services-cars__info">
                            <span class="services-cars__name">Каналопромывочная машина</span>
                            <span class="services-cars__model">КАМАЗ 3572 КО-564-20</span>
                        </div>
                        <img class="services-cars__images" src="images/services-cars-3.png" alt="Каналопромывочная машина">
                    </a>
                    <a class="services-cars__item services-cars__item--backhoe" href="#">
                        <div class="services-cars__info">
                            <span class="services-cars__name">Экскаватор</span>
                        </div>    
                        <img class="services-cars__images" src="images/services-cars-3.png" alt="Экскаватор">
                    </a>
                </div>

                <div class="services-cars__column">
                    <a class="services-cars__item services-cars__item--loader2" href="#">
                        <div class="services-cars__info">
                            <span class="services-cars__name">Экскаватор-погрузчик</span>
                        </div>
                        <img class="services-cars__images" src="images/services-cars-4.png" alt="Экскаватор-погрузчик">
                    </a>
                    <a class="services-cars__item services-cars__item--kamaz3" href="#">
                        <div class="services-cars__info">
                            <span class="services-cars__name">КАМАЗ бортовой с КМУ</span>
                        </div>    
                        <img class="services-cars__images" src="images/services-cars-5.png" alt="КАМАЗ бортовой с КМУ">
                    </a>
                    <a class="services-cars__item services-cars__item--rink" href="#">
                        <div class="services-cars__info">
                            <span class="services-cars__name">Каток</span>
                        </div>    
                        <img class="services-cars__images" src="images/services-cars-6.png" alt="Каток">
                    </a>
                </div>
                
            </div>
        </div>
    </section>

    <section class="services-works">
        <div class="container">
            <h3 class="subtitle services-works__subtitle">Благоустройство территорий
            </h3>
            <div class="services-works__text">
                <p>
                    Строительная компания "Инфраструктура" осуществляет полный перечень работ в области благоустройства территории:
                </p>
            </div>
            <ul class="services-works__list">
                <li class="services-works__item">
                    <a class="services-works__link" href="#">
                        <img class="services-works__images" src="images/services-works-9.jpg" alt="Картинка земляные работы">
                        <p class="services-works__description">Проезды и площадки с асфальтным покрытием</p>
                    </a>
                </li>
                <li class="services-works__item">
                    <a class="services-works__link" href="#">
                        <img class="services-works__images" src="images/services-works-10.jpg" alt="Картинка устройство дорожек и площадок с набивным покрытием">
                        <p class="services-works__description">Устройство дорожек и площадок с набивным покрытием</p>
                    </a>
                </li>
                <li class="services-works__item">
                    <a class="services-works__link" href="#">
                        <img class="services-works__images" src="images/services-works-11.jpg" alt="Картинка устройство проезда с тротуарной плиткой">
                        <p class="services-works__description">Устройство проезда с тротуарной плиткой</p>
                    </a>
                </li>
                <li class="services-works__item">
                    <a class="services-works__link" href="#">
                        <img class="services-works__images" src="images/services-works-12.jpg" alt="Картинка устройство отмостки с асфальтовым покрытием">
                        <p class="services-works__description">Устройство отмостки с асфальтовым покрытием</p>
                    </a>
                </li>
                <li class="services-works__item">
                    <a class="services-works__link" href="#">
                        <img class="services-works__images" src="images/services-works-13.jpg" alt="Картинка устройство насыпи и дренажа">
                        <p class="services-works__description">Устройство насыпи и дренажа</p>
                    </a>
                </li>
                <li class="services-works__item">
                    <a class="services-works__link" href="#">
                        <img class="services-works__images" src="images/services-works-14.jpg" alt="Картинка строительство заборов и
                        декоративных ограждений">
                        <p class="services-works__description">Строительство заборов и
                            декоративных ограждений</p>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    
    <section class="services-duties">
        <div class="container">
            <h3 class="subtitle services-duties__subtitle">Мы берем на себя
            </h3>
            <ul class="services-duties__list">
                <li class="services-duties__item services-duties__item--documentation">
                    <p class="services-duties__text">
                        Сбор и подготовка рабочей документации
                    </p>
                </li>
                <li class="services-duties__item services-duties__item--design">
                    <p class="services-duties__text">
                        Проектирование
                    </p>
                </li>
                <li class="services-duties__item services-duties__item--harmonization">
                    <p class="services-duties__text">
                        Согласование проекта
                    </p>
                </li>
                <li class="services-duties__item services-duties__item--service">
                    <p class="services-duties__text">
                        Сервисное обслуживание
                    </p>
                </li>
                <li class="services-duties__item services-duties__item--works">
                    <p class="services-duties__text">
                        Пусконаладочные работы
                    </p>
                </li>
                <li class="services-duties__item services-duties__item--mounting">
                    <p class="services-duties__text">
                        Строительно-монтажные работы
                    </p>
                </li>
            </ul>
        </div>
    </section>

    <section class="services-works">
        <div class="container">
            <h3 class="subtitle services-works__subtitle">Водоотведение и канализация
            </h3>
            <div class="services-works__text">
                <p>
                    Строительная компания "Инфраструктура" предлагает услуги монтажа систем водоотведения и канализации, включая:
                </p>
            </div>
            <ul class="services-works__list">
                <li class="services-works__item">
                    <a class="services-works__link" href="#">
                        <img class="services-works__images" src="images/services-works-1.jpg" alt="Картинка укладки труб">
                        <p class="services-works__description">Механизированная разработка траншей</p>
                    </a>
                </li>
                <li class="services-works__item">
                    <a class="services-works__link" href="#">
                        <img class="services-works__images" src="images/services-works-2.jpg" alt="Картинка укладки труб">
                        <p class="services-works__description">Укладка трубопроводов</p>
                    </a>
                </li>
                <li class="services-works__item">
                    <a class="services-works__link" href="#">
                        <img class="services-works__images" src="images/services-works-3.jpg" alt="Картинка укладки труб">
                        <p class="services-works__description">Устройство круглых железобетонных колодцев</p>
                    </a>
                </li>
            </ul>
            <div class="services-works__range-slider">
                <form class="services-works__form" action="#">
                    <span class="services-works__heading">Сроки завершения работ:</span>
                    <label class="visually-hidden" for="range">Горизонтальный рендж слайдер со сроками завершения работ</label>
                    <input class="services-works__range" type="text" name="Сроки завершения работ" id="range"
                    data-min = "50"
                    data-max = "800"
                    data-from = "400">
                    <div class="services-works__time">
                        <span class="services-works__number" aria-label="Количество дней за проделанную работу"></span>
                        <span class="services-works__day">рабочих дня*</span>
                    </div>
                </form>
                <span class="services-works__timing">* Ориентировочный расчет</span>
            </div>
        </div>
    </section>

    <section class="services-principles">
        <div class="container">
            <div class="services-principles__holder">
                <h3 class="subtitle services-principles__subtitle">Выполняем работы строго следуя:
                </h3>
                <ul class="services-principles__list">
                    <li class="services-principles__item services-principles__item--legislation ">Законодательству</li>
                    <li class="services-principles__item services-principles__item--documentation">СНиП, СанПиН, нормативной документации</li>
                    <li class="services-principles__item services-principles__item--order">Внутреннему регламенту</li>
                </ul>
                <div class="services-principles__text">
                    <p>
                        Являемся членом СРО «Строительство. Инженерные системы»
                    </p>
                </div>
                <a class="link services-principles__link" href="#">Ознакомиться с выпиской</a>
            </div>
        </div>
    </section>

    <section class="services-works">
        <div class="container">
            <h3 class="subtitle services-works__subtitle">Наружные тепловые сети
            </h3>
            <div class="services-works__text">
                <p>
                    Строительная компания "Инфраструктура" осуществляет полный перечень работ по монтажу наружных тепловых сетей и индивидуальных тепловых пунктов на жилых и промышленных объектах:
                </p>
            </div>
            <ul class="services-works__list">
                <li class="services-works__item">
                    <a class="services-works__link" href="#">
                        <img class="services-works__images" src="images/services-works-4.jpg" alt="Картинка земляные работы">
                        <p class="services-works__description">Земляные работы</p>
                    </a>
                </li>
                <li class="services-works__item">
                    <a class="services-works__link" href="#">
                        <img class="services-works__images" src="images/services-works-5.jpg" alt="Картинка укладки труб">
                        <p class="services-works__description">Подземная прокладка трубопроводов и вводы в здание</p>
                    </a>
                </li>
                <li class="services-works__item">
                    <a class="services-works__link" href="#">
                        <img class="services-works__images" src="images/services-works-6.jpg" alt="Картинка укладки труб">
                        <p class="services-works__description">Устройство каналов</p>
                    </a>
                </li>
                <li class="services-works__item services-works__item--big">
                    <a class="services-works__link" href="#">
                        <img class="services-works__images" src="images/services-works-7.jpg" alt="Картинка Устройство неподвижных опор">
                        <p class="services-works__description">Устройство неподвижных опор вне камер</p>
                    </a>
                </li>
                <li class="services-works__item services-works__item--big">
                    <a class="services-works__link" href="#">
                        <img class="services-works__images" src="images/services-works-8.jpg" alt="Картинка устройство ж/б колодцев">
                        <p class="services-works__description">Устройство ж/б колодцев</p>
                    </a>
                </li>
            </ul>
        </div>
    </section>

</section>

