<section class="vacancies">
    <div class="container">
        <h2 class="title vacancies__title">Вакансии</h2>

        <div class="vacancies__wrapper">
            <div class="vacancies__content">
                <h3 class="vacancies__subtitle">Начальник строительного участка</h3>
                <span class="vacancies__function">Должностные обязанности:</span>
                <ul class="vacancies__list">
                    <li class="vacancies__item">
                        Организация работ на объектах ( наружные инженерные : водопровод, канализация)
                    </li>
                    <li class="vacancies__item">руководство строительно-монтажным участком;</li>
                    <li class="vacancies__item">
                        составление тематических и производственных планов;
                    </li>
                    <li class="vacancies__item">согласование проектов производства работ;</li>
                    <li class="vacancies__item">
                        соблюдение графиков строительства и проектов производства работ с необходимым качеством;
                    </li>
                    <li class="vacancies__item">согласование технических вопросов</li>
                    <li class="vacancies__item">работа с проектно-сметной документацией;</li>
                    <li class="vacancies__item">переговоры с представителями Заказчика;</li>
                    <li class="vacancies__item">взаимодействие с контролирующими и надзорными органами;</li>
                </ul>
                <div class="vacancies__holder">
                    <button class="vacancies__btn" type="button">
                        Требования и условия
                        <svg class="vacancies__icon" aria-label="Стрелка, при нажатии выподает список требований">
                            <use xlink:href="images/sprite.svg#arrow-down"></use>
                        </svg>
                    </button>

                    <ul class="vacancies__list vacancies__list--hidden">
                        <li class="vacancies__item">Далеко-далеко за словесными горами в стране гласных.</li>
                        <li class="vacancies__item">Далеко-далеко за словесными горами в стране гласных.</li>
                        <li class="vacancies__item">Далеко-далеко за словесными горами в стране гласных.</li>
                    </ul>
                </div>
                <a class="link vacancies__link" href="#">Откликнуться на вакансию</a>
            </div>
        </div>
        <div class="vacancies__photo"></div>
    </div>
    
    
    
    
    
    
    
    
    
    </div>
</section>